@charset "UTF-8";
/* CSS Document created by Christy Chatmon, Spring 2019*/

body {
	font-family: "Times New Roman", "Courier New", Verdana, "Trebuchet MS";
	font-size: 13px;
	line-height: 1.6em;
	color: #565656;
	background-color: #E9C893;
	padding: 0 40px;
}

/* basic text styles ----------------------------  */
p, li, td {
	letter-spacing: 0.1em;
	color: #565656;
}
h1 {
	font-size: 24px;
	padding: 4px 4px 4px 4px;
	font-variant: small-caps;
	letter-spacing: 0.2em;
	border-style: double;
	line-height: 2em;
	background-color: #1E392A;
	color: #E9C893;
}
h2 {
	font-size: 20px;
	padding: 6px 6px 6px 6px;
	font-variant: small-caps;
	letter-spacing: 0.2em;
	border-style: double;
	background-color: #1E392A;
	color: #E9C893;
}
h3 {
	font-size: 17px;
	letter-spacing: 0.2em;
	border-bottom-width: 1px;
	border-style: double;
	background-color: #1E392A;
	padding: 8px 8px 8px 8px;
	font-variant: small-caps;
	color: #E9C893;
}

/* link styles ---------------------------- */
a:link {
	font-weight: bold;
	color: #3CC47C;
	text-decoration: underline;
}
a:visited {
	font-weight: bold;
	color: #3CC47C;
	text-decoration: underline;
}
a:hover {
	color: #E9C893;
}

/* list styles ----------------------------- */
ul li {
	list-style-type: circle;
	margin-left: 10px;
	
}
ol {
	list-style-type: upper-roman;
	margin-left: 10px;
}

/* table styles -------------------------------------- */
table {
	border: ridge #828081 1px;
	background-color: #1E392A;
}
td {
	padding: 6px;
	border: ridge #828081 1px;
}
th {
	font-weight: bold;
	text-align: center;
	padding: 6px;
	border: ridge #828081 1px;
	color: #E9C893;
}

/* border styles ------------------------------------ */
hr {
	border: double #1E392A 2px;
}

img {
	border: ridge #1E392A 1px;

}

iframe {
	border: ridge #1E392A 1px;
	padding: 2px;
	margin: 2px;
}
